



<div>
    <header class = "jumbotron">
        <div class = "container">
        <div class = "row">
            <h1 style = "text-align: center">Sign Up</h1>




            <div style = "width:50%; margin: 5px auto;">
                <form action = "/register" method = "POST">


                    
                        
                        
                    




                 <div class = "form-group">
                     <label>username</label>
                        <input class = "form-control"  type = "text" name = "user" placeholder = "username">
                    </div>
                    <div class = "form-group">
                        <label>password</label>
                        <input class = "form-control" type = "password" name = "pass" placeholder = "password" required minlenth = "4">
                    </div>
                    <div class = "form-group">
                        <label>First Name</label>
                        <input  class = "form-control" type = "text" name = "fname" placeholder = "First name">
                    </div>

                    <div class = "form-group">
                        <label>Last Name</label>
                        <input  class = "form-control" type = "text" name = "lname" placeholder = "Last name">
                    </div>


                    <div class = "form-group">
                        <label>email</label>
                        <input class = "form-control" type = "email" name = "email" placeholder = "email">
                     </div>



                     <div class = "form-group">
                        <label>Phone number</label>
                        <input class = "form-control" type = "text" name = "phone" placeholder = "phone number">
                     </div>

                     <div class = "form-group">
                        <label>Address</label>
                        <input class = "form-control" type = "text" name = "address" placeholder = "permanent address">
                     </div>


                   
                    <button class = "btn btn-primary"> Sign Up </button>
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
                </form>

                <hr>or<hr>

                                
                                

                <div class = "form-group">
                        <a href = "/login"> <button class = "btn  btn-success">Already have an account </button> </a>
                     </div>





                <a href = "/" style="color:blue">Go Back</a>

            </div>

        </div>
    </div>
    </header>
    </div>
   