








<!-- <header class = "jumbotron"> -->
 <div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <div class = "list-group">
                <li class = "list-group-item active">Information about the product</li>
            </div>
        </div>
        <div class ="col-md-9">
            <div class ="thumbnail">
                <!-- <img class ="img-responsive" src = "{{ productRef.pname }}">
                    <div class ="caption-full">
                        <h4 class ="pull-right">Rs.{{ productRef.price }}</h4>

                        <h4><a>{{ productRef.pid }}</a></h4>
                        <p>{{ productRef.stock }}</p> -->

                        <!-- <hr>  -->
                        
                        
                        
                        
                        <!-- <% if(currentUser && cart.author.id.equals(currentUser._id)){%> -->
                         <!-- <a class = "btn  btn-danger" href = "/product/{{productRef.pid }}/edit">Edit</a> 
                        <a class = "btn  btn-danger" href = "/product/{{ productRef.pid }}/edit">Delete</a> -->

<!--                         
                       
                        <div style="margin-top: 10px;">
                            <a class="btn btn-default" href="/dashboard"><i class="fa fa-arrow-left"></i> Go back</a>
                        </div>
                    </div>
            </div  -->
            





           
            









